@mixin centeredFlex {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin backgroundImageSetup {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

hr {
	border: none;
	height: 4px;
	width: 100%;
	background-color: $primaryColor;
}

.text-primary {
	color: $primaryColor;
}

.PageTitle {
	font-size: clamp(2rem, 5vw, 3.5rem);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 15%;
		height: 4px;
		background-color: $primaryColor;
		bottom: -10px;
		left: 0;
	}
}

@media only screen and (min-width: 768px) {
	.PageTitle::after {
		width: 10%;
	}
}
